/* .twitterHeader {
} */
.twitterHeader__logo {
    margin-bottom: 3rem;
}
/* .twitterHeader__menu-nav {
} */
.twitterHeader__menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.twitterHeader__menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.twitterHeader__menu-item img {
  max-width: 100%;
  height: auto;
  display: block;
}
.twitterHeader__menu-item a {
  width: 100%;
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  display: inline-block;
  padding: 0.5rem 0;
  font-family: 'Roboto', sans-serif;
}
